*{
  margin: 0;
  padding: 0;
  background-color: aliceblue;
}
body{
  padding: 30px;
}
#highlight{
  display: none;
}

/* Colours */
.sc{color: brown;}
.keyword{color:purple; font-weight: bold;}
.string{color: darkgreen;}
.comment{color: green;}
.function{color: red;}