form .instructions,
form textarea{
  display: block;
  /*background: aliceblue;*/
}
form .instructions h1,
form .instructions small{
  display: inline-block;
}
.results{
  background: lemonchiffon;
}
