#content {
    width:70px;
    margin: 0 auto;
}

#thermometer {
    width:30px;
    height:300px;
    position: relative;
    background: #ddd;
    border:1px solid #aaa;
    border-radius: 12px;
    box-shadow: 1px 1px 4px #999, 5px 0 20px #999;
}

#thermometer .track {
    height:280px;
    top:10px;
    width:20px;
    border: 1px solid #aaa;
    position: relative;
    margin:0 auto;
    background: rgb(255,255,255);
    background:   linear-gradient(to bottom, rgb(0,0,0) 0%,rgb(255,255,255) 10%); puts black bars on thermometer
    background-position: 0 -1px;
    background-size: 100% 5%;
}

#thermometer .progress {
    height:0%;
    width:100%;
    background: rgba(20,100,20,0.6); /* opacity & green */
    position: absolute;
    bottom:0;
    left:0;
}

#thermometer .goal {
    position:absolute;
    top:0;
}

#thermometer .amount {
    display: inline-block;
    padding:0 5px 0 60px;
    border-top:1px solid black; /* top of both nums */
    color:#333;
}

#thermometer .progress .amount {
    padding:0 60px 0 5px; /*keep 47k off the body */
    position: absolute;
    /* border-top:1px solid #060; */
    /* color:#060; */
    right:0;
}